<div class="flex flex-col justify-center items-center h-full w-full">
  <div
    *ngIf="this.favoriteMovies.length !== 0"
    class="lg:w-[580px] md:w-[450px] w-80 flex justify-center items-center mt-16 relative"
  >
    <!-- Favorites title and count -->
    <div id="searchResults" class="w-full flex justify-center">
      <div class="flex justify-center items-center text-darkBlue-300 font-bold">
        <i class="fa-regular fa-heart text-base mr-2"></i>
        <p class="text-sm font-bold">
          FAVORITE MOVIES ({{ this.favoriteMovies.length }})
        </p>
      </div>
    </div>

    <!-- Clear icon -->
    <button
      [ngClass]="{
            'md:!w-24': isEditing,
          }"
      class="w-10 h-10 rounded-full bg-darkBlue-400 hover:bg-salmon transition-all duration-500 ease-in-out absolute right-0 text-white"
      (click)="editingToggle()"
    >
      <i *ngIf="!isEditing" class="fa-solid fa-trash-can text-base"></i>
      <p *ngIf="isEditing" class="hidden md:block text-xs font-bold">Back</p>
      <i *ngIf="isEditing" class="fa-solid fa-xmark text-base md:hidden"></i>
    </button>
  </div>
</div>

<!-- Favorites list -->
<app-results-skeleton *ngIf="skeleton"></app-results-skeleton>
<app-results-list
  [isEditing]="isEditing"
  [results]="favoriteMovies"
></app-results-list>

<!-- No favorites text -->
<div
  *ngIf="this.favoriteMovies.length === 0"
  class="flex justify-center items-center pb-20"
>
  <i class="fa-solid fa-face-frown text-darkBlue-300 text-base mr-2"></i>

  <span class="text-darkBlue-300 text-sm font-medium">No favorite movies</span>
</div>
