<section
  class="bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-darkBlue-400 to-darkBlue-500"
>
  <!-- Go Back Button -->
  <a
    (click)="goBack()"
    class="absolute z-50 cursor-pointer md:left-12 md:top-40 left-10 top-11 md:w-14 md:h-14 w-10 h-10 flex items-center justify-center md:text-sm text-xs lg:hover:-translate-x-2 hover:bg-salmon text-white transition-all duration-500 ease-in-out bg-darkBlue-400 rounded-full border-2 border-darkBlue-400 shadow-md"
  >
    <i class="fa-solid fa-arrow-left md:text-base text-sm"></i>
  </a>

  <!-- Login form -->
  <div class="h-screen w-screen flex flex-col justify-center items-center">
    <object
      class="md:w-36 w-20 m-4"
      data="assets/icons/logo.svg"
      type="image/svg+xml"
    ></object>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="rounded-lg bg-darkBlue-500 md:py-20 md:px-12 py-10 px-8 shadow-2xl flex flex-col md:w-[580px] w-[280px] md:mt-10 mt-3"
    >
      <p
        class="md:text-3xl text-xl mb-7 font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200"
      >
        Log in <span class="text-salmon font-strange">Now</span>
      </p>

      <div class="relative mb-4">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          formControlName="email"
          class="w-full bg-darkBlue-400 rounded-lg focus:ring-2 focus:ring-salmon md:text-sm text-xs outline-none text-white py-1 px-3 !leading-8"
        />
        <div
          class="mt-2"
          *ngIf="
            email.errors &&
            ((email.invalid && email.dirty) ||
              (email.invalid && isValidForm != null && !isValidForm))
          "
        >
          <div *ngIf="email.errors['required']">
            <small class="text-xs text-salmon">Email is required</small>
          </div>
          <div *ngIf="email.errors['pattern']">
            <small class="text-xs text-salmon"
              >Email address not well formed</small
            >
          </div>
        </div>
      </div>

      <div class="relative mb-4 mt-4">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          class="w-full bg-darkBlue-400 pr-12 rounded-lg focus:ring-2 focus:ring-salmon md:text-sm text-xs outline-none text-white py-1 pl-3 !leading-8"
        />

        <div
          *ngIf="password.value"
          class="absolute z-10 top-0 right-0 p-2 mr-1 rounded-lg bg-darkBlue-400 flex items-center text-sm leading-5"
        >
          <i
            class="fa-solid fa-eye text-base text-darkBlue-300 opacity-60 cursor-pointer"
            (click)="tooglePassword()"
            [ngClass]="{ '!hidden': showPassword, '!block': !showPassword }"
          ></i>

          <i
            class="fa-solid fa-eye-slash text-base text-darkBlue-300 opacity-60 cursor-pointer"
            (click)="tooglePassword()"
            [ngClass]="{ '!block': showPassword, '!hidden': !showPassword }"
          ></i>
        </div>

        <div
          class="mt-2"
          *ngIf="
            password.errors &&
            ((password.invalid && password.dirty) ||
              (password.invalid && isValidForm != null && !isValidForm))
          "
        >
          <div *ngIf="password.errors['required']">
            <small class="text-xs text-salmon">Password is required</small>
          </div>
          <div *ngIf="password.errors['pattern']">
            <small class="text-xs text-salmon"
              >Password must have eight characters, at least one uppercase
              letter, one lowercase letter and one number</small
            >
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="flex h-12 justify-center items-center bg-salmon border-0 py-2 px-8 focus:outline-none hover:bg-white group rounded-lg mt-4 md:text-lg text-base transition-all duration-300 ease-in-out"
      >
        <span
          *ngIf="!spinner"
          class="font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 group-hover:text-salmon transition-all duration-300 ease-in-out"
          >Login</span
        ><app-spinner *ngIf="spinner" class="scale-[0.2]"></app-spinner>
      </button>

      <div class="mt-6 flex items-center">
        <input
          checked
          id="checkbox"
          type="checkbox"
          value=""
          class="md:w-4 md:h-4 w-3.5 h-3.5 accent-salmon rounded cursor-pointer"
          formControlName="rememberMe"
        />
        <label for="checkbox" class="ms-2 md:text-sm text-xs text-darkBlue-300"
          >Remember me</label
        >
      </div>

      <p class="md:text-sm text-xs text-darkBlue-300 mt-10">
        Don't have an account?
        <a
          class="text-salmon hover:underline"
          [routerLink]="['/user/register']"
          rel="ugc"
          >Register</a
        >
      </p>
    </form>
  </div>
</section>
