<section
  class="text-white bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-darkBlue-400 to-darkBlue-500"
>
  <!-- Go Back Button -->
  <a
    routerLink="/welcome"
    class="absolute md:left-12 md:top-20 left-10 top-11 w-fit flex items-center justify-center md:px-5 md:py-2 pr-3 py-1 md:text-sm text-xs text-white transition-all duration-500 ease-in-out bg-darkBlue-400 rounded-lg gap-x-2 shadow-md group"
  >
    <mat-icon
      class="md:scale-90 scale-[0.65] text-white lg:group-hover:-translate-x-2 transition-all duration-500 ease-in-out"
      >keyboard_arrow_left</mat-icon
    >
    <span>Back</span>
  </a>
  <!-- Form -->
  <div class="h-screen w-screen p-5 flex flex-col justify-center items-center">
    <object
      class="md:w-36 w-20 m-4"
      data="assets/images/logo.svg"
      type="image/svg+xml"
    ></object>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="rounded-lg bg-darkBlue-500 md:py-20 md:px-12 py-10 px-8 shadow-2xl flex flex-col md:w-[580px] w-[280px] mt-10"
    >
      <div class="relative mb-4">
        <p
          class="md:text-3xl text-xl mb-7 font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200"
        >
          Log in <span class="text-salmon font-strange">Now</span>
        </p>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          formControlName="email"
          class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 md:text-sm text-xs outline-none text-white py-1 px-3 !leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          class="mt-2"
          *ngIf="
            email.errors &&
            ((email.invalid && email.dirty) ||
              (email.invalid && isValidForm != null && !isValidForm))
          "
        >
          <div *ngIf="email.errors['required']">
            <small class="text-xs text-red-600">Email is required</small>
          </div>
          <div *ngIf="email.errors['pattern']">
            <small class="text-xs text-red-600"
              >Email address not well formed</small
            >
          </div>
        </div>
      </div>

      <div class="relative mb-4 mt-4">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 md:text-sm text-xs outline-none text-white py-1 px-3 !leading-8 transition-colors duration-200 ease-in-out"
        />

        <div
          *ngIf="password.value"
          class="absolute top-[7px] right-0 pr-3 flex items-center text-sm leading-5"
        >
          <mat-icon
            class="h-6 text-darkBlue-300 opacity-60 cursor-pointer"
            (click)="tooglePassword()"
            [ngClass]="{ '!hidden': showPassword, '!block': !showPassword }"
            >visibility</mat-icon
          >

          <mat-icon
            class="h-6 text-darkBlue-300 opacity-60 cursor-pointer"
            (click)="tooglePassword()"
            [ngClass]="{ '!block': showPassword, '!hidden': !showPassword }"
            >visibility_off</mat-icon
          >
        </div>

        <div
          class="mt-2"
          *ngIf="
            password.errors &&
            ((password.invalid && password.dirty) ||
              (password.invalid && isValidForm != null && !isValidForm))
          "
        >
          <div *ngIf="password.errors['required']">
            <small class="text-xs text-red-600">Password is required</small>
          </div>
          <div *ngIf="password.errors['pattern']">
            <small class="text-xs text-red-600"
              >Password must have eight characters, at least one uppercase
              letter, one lowercase letter and one number</small
            >
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="flex h-12 justify-center items-center bg-salmon border-0 py-2 px-8 focus:outline-none hover:bg-[rgba(255,255,255,0.9)] group rounded-lg mt-4 md:text-lg text-base transition-all duration-300 ease-in-out"
      >
        <span
          *ngIf="!spinner"
          class="font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 group-hover:text-salmon transition-all duration-300 ease-in-out"
          >Login</span
        ><app-spinner *ngIf="spinner" class="scale-[0.2]"></app-spinner>
      </button>

      <div class="mt-6 flex items-center">
        <input
          checked
          id="checkbox"
          type="checkbox"
          value=""
          class="md:w-4 md:h-4 w-3.5 h-3.5 accent-salmon rounded cursor-pointer"
          formControlName="rememberMe"
        />
        <label
          for="checkbox"
          class="ms-2 md:text-[15px] text-xs text-darkBlue-300"
          >Remember me</label
        >
      </div>

      <p class="md:text-sm text-xs text-darkBlue-300 mt-10">
        Don't have an account?
        <a
          class="text-salmon hover:underline"
          [routerLink]="['/user/register']"
          rel="ugc"
          >Register</a
        >
      </p>
    </form>
  </div>
</section>
