
<div *ngIf="!authPage" class="text-gray-600 body-font border-b-2 mb-12">
  <div class="h-7 w-dvw bg-orange-500 flex flex-row items-center justify-between">
    <p class="text-xs font-semibold text-gray-50 invisible">100-day return policy</p>
    <p class="text-xs font-semibold text-gray-50">Free shipping for orders over €25.90 and free returns*</p>
    <p class="text-xs font-semibold text-gray-50">100-day return policy</p>
  </div>
  <div class="h-12 w-dvw bg-gray-100 flex items-center justify-center animatecss animatecss-fadeIn">
    <!--
    <p class="text-sm font-medium text-gray-500">WearAComfort</p>
    <p class="text-sm font-medium text-gray-500">WearAStyle</p>
    <p class="text-sm font-medium text-gray-500">WearAUnique</p>
    <p class="text-sm font-medium text-gray-500">WearAUnique</p>
    <p class="text-sm font-medium text-gray-500">WearAPair</p>
    -->
    <p class="text-sm font-medium text-gray-500">WearAComfort</p>
  </div>
  <div class="container mx-auto flex p-7 flex-row items-center justify-between">
    <a routerLink="/home" class="flex title-font font-medium items-center text-gray-900 md:mb-0">
      <object class="w-52 pointer-events-none" data="assets/images/logo.svg" type="image/svg+xml"></object>
    </a>
    <ul class="hidden items-center font-medium lg:flex">
      <a routerLink="/login" class="mr-5 hover:text-gray-900"><p class="text-gray-800 text-base font-semibold hover:underline hover:decoration-orange-500 hover:decoration-3 hover:underline-offset-[20px]">All Shoes</p></a>
      <a routerLink="/login" class="mr-5 hover:text-gray-900"><p class="text-gray-800 text-base font-semibold ml-2 hover:underline hover:decoration-orange-500 hover:decoration-3 hover:underline-offset-[20px]">Women</p></a>
      <a routerLink="/login" class="mr-5 hover:text-gray-900"><p class="text-gray-800 text-base font-semibold ml-2 hover:underline hover:decoration-orange-500 hover:decoration-3 hover:underline-offset-[20px]">Man</p></a>
    </ul>
    <nav class="flex flex-wrap items-center text-base justify-center hidden lg:flex-row lg:flex">
      <div [ngClass]="{'hidden': showMenu, 'flex': !showMenu}" class="flex flex-row items-center border border-black-600 mr-3 w-72 hover:animatecss hover:animatecss-pulse focus-within:w-[33vw] focus-within:border-orange-500 transition-all transform duration-500 ease-in-out">
        <mat-icon class="ml-2">search icon</mat-icon>
        <input type="search" name="searchBox" placeholder="Search here" class="sm:text-sm focus:outline-none w-full h-9 pl-10 p-2" [(ngModel)]="searchString" (input)="search()">
      </div>
      <a routerLink="/login" class="mr-5 hover:text-gray-900"><mat-icon>account_circle</mat-icon></a>
      <a routerLink="/login" class="mr-5 hover:text-gray-900"><mat-icon>shopping_cart</mat-icon></a>
    </nav>

    <div class="lg:hidden">
      <div class="flex items-center justify-between ">
        <input type="search" name="searchBox" placeholder="Search here" class="cursor-pointer relative z-10 h-9 w-12 bg-transparent pl-12 outline-none  focus:border focus:cursor-text focus:border-orange-500 focus:animatecss focus:animatecss-pulse  transition-all duration-500 ease-in-out" [(ngModel)]="searchString" (input)="search()" (click)="toggleSearch()" />
        <mat-icon class="absolute h-8 w-12 border-r border-transparent stroke-gray-500 ml-2">search icon</mat-icon>
        <a routerLink="/login" class="mr-5 hover:text-gray-900"><mat-icon>account_circle</mat-icon></a>
        <a routerLink="/login" class="mr-5 hover:text-gray-900"><mat-icon>shopping_cart</mat-icon></a>
        <button class="flex items-center px-2 py-1 border rounded" (click)="toggleNavbar()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>

    <div [ngClass]="{'hidden': !showSearch, 'absolute': showSearch}" class="absolute top-28 left-0 w-full h-full shadow-xl lg:hidden">
      <div class="flex flex-row p-5 justify-center items-center w-screen animatecss animatecss-slideInRight">
        <div class="flex items-center bg-gray-50 border border-gray-300 w-full focus-within:border focus-within:cursor-text focus-within:border-orange-500 ">
          <mat-icon class="ml-2">search icon</mat-icon>
          <input type="search" name="searchBox" placeholder="Search here" class="bg-gray-50 text-gray-900 sm:text-sm focus:outline-none rounded-lg w-screen pl-10 p-2" [(ngModel)]="searchString" (input)="search()">
        </div>
      </div>
    </div>

    <!--RESPONSIVE SEARCH INPUT
    <div [ngClass]="{'hidden': !showSearchBox, 'absolute': showSearchBox}" class="top-0 left-0 bg-white z-10 lg:hidden">
      <div class="flex flex-row p-5 justify-center items-center w-screen animatecss animatecss-slideInRight">
        <div class="flex items-center bg-gray-50 border border-gray-300 w-full">
          <mat-icon class="ml-2">search icon</mat-icon>
          <input type="search" name="searchBox" placeholder="Search here" class="bg-gray-50 text-gray-900 sm:text-sm focus:outline-none rounded-lg w-screen pl-10 p-2" [(ngModel)]="searchString" (input)="search()">
        </div>
      </div>
    </div>
  </div> -->
    <!-- RESPONSIVE MENU-->
    <div [ngClass]="{'hidden': !showMenu, 'absolute': showMenu}" class="w-screen h-screen backdrop-blur-sm bg-[hsla(0,0%,7%,.36)] transition-all duration-500 ease-in-out z-10 inset-0 overflow-x-hidden lg:hidden">
    <div class="absolute w-80 h-screen right-0 top-0 bg-white animatecss animatecss-slideInRight">
        <button class="absolute right-4 top-3 mr-2" (click)="toggleNavbar()"><mat-icon>close</mat-icon></button>
        <ul class="flex flex-col justify-center items-start p-5 text-gray-900 title-font font-semibold mt-5">
          <a routerLink="/login" class="p-2 w-full flex items-center justify-between hover:text-gray-900"><p class="ml-2 text-2xl">All Shoes</p><mat-icon>arrow_forward_ios</mat-icon></a>
          <a routerLink="/login" class="p-2 w-full flex items-center justify-between hover:text-gray-900"><p class="ml-2 text-2xl">Women</p><mat-icon>arrow_forward_ios</mat-icon></a>
          <a routerLink="/login" class="p-2 w-full flex items-center justify-between hover:text-gray-900"><p class="ml-2 text-2xl">Man</p><mat-icon>arrow_forward_ios</mat-icon></a>
          <p class="p-2 my-12 text-lg text-gray-400">Explore our exclusive collection of clothing designed for those seeking quality, authenticity, and style. Log in to uncover the latest trends and special offers! <span class="text-gray-900">More information</span></p>
          <a routerLink="/login" class="flex items-center p-3 hover:text-gray-900"><mat-icon>account_circle</mat-icon><p class="ml-2">Login</p></a>
          <a routerLink="/login" class="flex items-center p-3 hover:text-gray-900"><mat-icon>shopping_cart</mat-icon><p class="ml-2">Shopping Cart</p></a>
        </ul>
      </div>
  </div>
</div>
</div>



<div *ngIf="authPage">
  <div class="container mx-auto flex justify-center p-12 items-center">
    <a routerLink="/home" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <object class="w-52 pointer-events-none" data="assets/images/logo.svg" type="image/svg+xml"></object>
    </a>
  </div>
</div>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
