<div class="bg-tech3-banner bg-cover bg-center bg-no-repeat w-full h-screen">
  <div class="flex justify-center text-center pt-44">
    <div class="p-4">
      <div class="relative inline-flex items-center justify-center w-52 h-52 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
        <span class="text-5xl font-medium text-gray-600 dark:text-gray-300">{{userNameLetter}}</span>
      </div>
      <h2 class="text-xl text-center mt-5 font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200">{{userName}}</h2>
    </div>
  </div>

  <div class="w-full h-fit flex mt-10 justify-center">
    <div class="flex justify-center rounded-lg bg-darkBlue-400 p-5 shadow-2xl text-darkBlue-300 py-10 px-10 w-fit">
      <div class="flex-col">
        <h2 class="flex items-center text-sm title-font tracking-widest mb-4"><mat-icon class="text-salmon mr-5">person</mat-icon>{{userName}}</h2>
        <h2 class="flex items-center text-sm title-font tracking-widest mb-4"><mat-icon class="text-salmon mr-5">email</mat-icon>{{userEmail}}</h2>
        <h2 class="flex items-center text-sm title-font tracking-widest"><mat-icon class="text-salmon mr-5">calendar_today</mat-icon>{{userCreatedDate | date: 'dd/MM/yyyy'}}</h2>
      </div>
    </div>
  </div>

  <div class="flex justify-center gap-20 mt-20">
    <a href="" class="group text-3xl font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200">
      Favourites
      <div class="bg-salmon h-[2px] w-0 group-hover:w-full transition-all duration-500 mt-2"></div>
    </a>
    <a href="" class="group text-3xl font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200">
      Continue watching
      <div class="bg-salmon h-[2px] w-0 group-hover:w-full transition-all duration-500 mt-2"></div>
    </a>
    <a href="" class="group text-3xl font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200">
      Recent viewed
      <div class="bg-salmon h-[2px] w-0 group-hover:w-full transition-all duration-500 mt-2"></div>
    </a>
  </div>
</div>
