<div class="bg-tech-banner bg-cover bg-center bg-no-repeat w-full h-screen" >
  <div class="container text-center mx-auto pt-44 text-white">
    <div class="text-3xl font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200">Find your today's perfect <span class="text-salmon inline-flex flex-col h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] overflow-hidden">
      <ul class="block text-left animate-text-slide leading-tight [&_li]:block">
          <li>Match</li>
          <li>Movie</li>
          <li>Show</li>
          <li>Docum</li>
          <li>Always</li>
          <li aria-hidden="true">Match</li>
      </ul></span></div>
   <!-- Input search -->
    <div class="max-w-md mx-auto mt-14">
      <div class="relative flex items-center w-full h-12 bg-darkBlue-400 rounded-2xl focus-within:shadow-lg overflow-hidden">
          <div class="grid place-items-center h-full w-12 text-[#ff903c]">
            <mat-icon>search</mat-icon>
          </div>
          <input class="peer h-full w-full outline-none text-sm text-white pr-2 bg-darkBlue-400" type="search" id="search" placeholder="I've been waiting for you..." [(ngModel)]="query" (input)="subscribeToInputChanges()" />
      </div>
    </div>
  </div>
  <!-- Filters select -->
  <form *ngIf="searchFilters.query && searchFilters.query.trim() !== ''" [formGroup]="filtersForm" class="mt-14">
    <p class="text-white text-sm text-center mb-10">
      Choose your match <span class="text-salmon">parameters</span>
    </p>

    <div class="flex flex-row w-full justify-center items-center gap-10 ">
    <select class="w-fit py-2 px-4 mb-6 text-xs text-darkBlue-300 font-bold rounded-lg bg-darkBlue-400 cursor-pointer transform transition ease-in-out duration-500 hover:scale-110" formControlName="date">
      <option selected value="default">Release date</option>

      <optgroup label="2020-2024" class="border-b-2">

      <option value="2024">2024</option>
      <option value="2023">2023</option>
      <option value="2022">2022</option>
      <option value="2021">2021</option>
      <option value="2020">2020</option>

    </optgroup>
    </select>

    <select class="block w-fit py-2 px-4 mb-6 text-xs text-darkBlue-300 font-bold rounded-lg bg-darkBlue-400 cursor-pointer" formControlName="language">
      <option selected value="default">Language</option>
      <option value="en-US">English</option>
      <option value="pt-BR">Portuguese</option>
      <option value="es-MX">Spanish</option>
    </select>

    <select class="block w-fit py-2 px-4 mb-6 text-xs text-darkBlue-300 font-bold rounded-lg bg-darkBlue-400 cursor-pointer" formControlName="control">
      <option selected value="default">Adult control</option>
      <option value="true">Control active</option>
      <option value="false">Control disabled</option>
    </select>
  </div>
  </form>

  <!-- Movie results search list -->
  <app-movie-search-list infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" *ngIf="!skeleton; else showSkeleton" [results]="results"></app-movie-search-list>
  <ng-template #showSkeleton><app-search-list-skeleton></app-search-list-skeleton></ng-template>

  <div *ngIf="results && results?.length===0 && query.trim() !== ''" class="flex justify-center pb-14">
    <mat-icon class="text-salmon text-sm">grid_off</mat-icon>
    <span class="text-darkBlue-300 text-sm font-medium">No matches</span>
  </div>

</div>

