<section class="p-3 overflow-hidden relative mt-20 w-full h-full md:h-[calc(100vw_/_3.5)]">
  <swiper-container #swiperRef pagination="true" init="false" class="h-full">

    <swiper-slide>
      <div class="w-full h-full bg-[url('https://hbomax-images.warnermediacdn.com/2024-01/TrueDetectiv4_Takeover_desktop%20alt.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=2000')] bg-cover bg-[50%] bg-no-repeat before:absolute before:w-full before:h-full before:bg-gradient-to-r from-black via-transparent to-transparent ">
        <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,0%,0.4)] bg-fixed">
        <div class="flex-col w-6/12 h-full p-[6vw]">
          <h1 class="text-5xl text-white font-bold leading-tight mb-6">The Double <span class="text-salmon">E</span></h1>
          <p class="text-sm text-darkBlue-300 leading-normal font-bold">Ready for free movies and TV shows <span class="text-salmon">Everywhere</span> and <span class="text-salmon">Everytime</span>? Don't worry because Plex has you covered. So settle in, relax and find the right program for you then get started streaming now.</p>
          <div class="flex flex-row items-center mt-12 text-xs">
            <span class="bg-darkBlue-400 py-1 px-2 rounded-lg text-white mr-2">Live</span>
            <span class="text-white">Movies - PopCorn Industry</span>
          </div>
          <button routerLink="/search" class="flex justify-center items-center p-2 bg-salmon text-black rounded-full w-34 mt-12">
            <mat-icon class="mr-2">search</mat-icon>
            <p class="text-sm font-bold pr-2">Find your match</p>
          </button>
        </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="w-full h-full bg-[url('https://hbomax-images.warnermediacdn.com/2024-01/TrueDetectiv4_Takeover_desktop%20alt.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=2000')] bg-cover bg-[50%] bg-no-repeat before:absolute before:w-full before:h-full before:bg-gradient-to-r from-black via-transparent to-transparent ">
        <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,0%,0.4)] bg-fixed">
        <div class="flex-col w-6/12 h-full p-[6vw]">
          <h1 class="text-5xl text-white font-bold leading-tight mb-6">Discover <span class="text-salmon">New</span> Releases</h1>
          <p class="text-sm text-darkBlue-300 leading-normal font-bold">Explore the latest blockbuster movies and TV shows. Don't miss out on the excitement!</p>
          <div class="flex flex-row items-center mt-12 text-xs">
            <span class="bg-darkBlue-400 py-1 px-2 rounded-lg text-white mr-2">Live</span>
            <span class="text-white">Movies - PopCorn Industry</span>
          </div>
          <button routerLink="/search" class="flex justify-center items-center p-2 bg-salmon text-black rounded-full w-34 mt-12">
            <mat-icon class="mr-2">search</mat-icon>
            <p class="text-sm font-bold pr-2">Find your match</p>
          </button>
        </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <img src="https://1902.studio/images/journal/tailwind-css-clip-path-hover/tailwind-css-clip-path-hover-effect.png" alt="Swiper Slide">
    </swiper-slide>

  </swiper-container>

</section>
