<div
  class="absolute -z-10 bg-tech-banner-4 bg-cover bg-center bg-no-repeat w-full h-screen"
></div>

<!-- Go Back Button -->
<a
  (click)="goBack()"
  class="absolute z-50 cursor-pointer md:left-12 md:top-40 left-10 top-11 md:w-14 md:h-14 w-10 h-10 flex items-center justify-center md:text-sm text-xs lg:hover:-translate-x-2 hover:bg-salmon text-white transition-all duration-500 ease-in-out bg-darkBlue-400 rounded-full border-2 border-darkBlue-400 shadow-md"
>
  <i class="fa-solid fa-arrow-left md:text-base text-sm"></i>
</a>

<!-- USER INFO SECTION -->
<div class="flex justify-center text-center pt-44">
  <!-- Main user info -->
  <div class="p-4">
    <div
      class="relative inline-flex items-center justify-center w-52 h-52 overflow-hidden bg-[url('/assets/icons/user.svg')] bg-center rounded-full"
    ></div>
    <h2
      class="text-xl text-center mt-5 font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200"
    >
      {{ user.name }}
    </h2>
    <h3 class="text-sm font-medium text-darkBlue-300 mt-2">
      {{ user.email }}
    </h3>

    <!-- Edit and close icons for updating user data -->
    <div
      [ngClass]="{ toggleAnimation: showEditForm }"
      class="relative inline-flex items-center justify-center"
    >
      <div class="absolute top-0 defaultIcon">
        <button
          (click)="toggleEditForm()"
          class="flex justify-center items-center group"
        >
          <span class="text-salmon text-sm group-hover:underline">Edit...</span>
        </button>
      </div>
      <div class="absolute top-0 animateIcon">
        <button
          (click)="toggleEditForm()"
          class="flex justify-center items-center group"
        >
          <i
            class="fa-regular fa-circle-xmark text-darkBlue-300 hover:text-salmon text-lg"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE USER FORM SECTION -->
<div class="w-full h-fit flex mt-5 justify-center">
  <div class="relative flex justify-center">
    <div
      *ngIf="showEditForm"
      class="p-5 border-2 border-darkBlue-400 rounded-xl"
    >
      <form [formGroup]="updateForm" (ngSubmit)="update()">
        <div class="flex flex-row flex-wrap justify-center items-start mt-2">
          <div class="flex flex-col relative m-5 md:w-5/12 w-full">
            <i class="fa-solid fa-user absolute left-3 top-3 text-salmon"></i>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Name"
              formControlName="name"
              class="w-full bg-darkBlue-400 pl-12 rounded-lg focus:ring-2 focus:ring-salmon text-sm outline-none text-white py-1 px-3 !leading-8"
            />

            <div
              class="mt-2"
              *ngIf="
                name.errors &&
                ((name.invalid && name.dirty) ||
                  (name.invalid && isValidForm != null && !isValidForm))
              "
            >
              <div *ngIf="name.errors['required']">
                <small class="text-xs text-salmon">Username is required</small>
              </div>
              <div *ngIf="name.errors['minlength']">
                <small class="text-xs text-salmon"
                  >Username must be greater than 5 characters</small
                >
              </div>
              <div *ngIf="name.errors['maxlength']">
                <small class="text-xs text-salmon"
                  >Username must be lower than 25 characters</small
                >
              </div>
            </div>
          </div>

          <div class="flex flex-col relative m-5 md:w-5/12 w-full">
            <i class="fa-solid fa-lock absolute left-3 top-3 text-salmon"></i>
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              name="password"
              placeholder="Password"
              formControlName="password"
              class="w-full bg-darkBlue-400 px-12 rounded-lg focus:ring-2 focus:ring-salmon text-sm outline-none text-white py-1 !leading-8"
            />

            <div
              *ngIf="password.value"
              class="absolute z-10 top-0 right-0 p-2 mr-1 rounded-lg bg-darkBlue-400 flex items-center text-sm leading-5"
            >
              <i
                class="fa-solid fa-eye text-base text-darkBlue-300 opacity-60 cursor-pointer"
                (click)="toogleShowHidePassword()"
                [ngClass]="{
                  '!hidden': showPassword,
                  '!block': !showPassword
                }"
              ></i>

              <i
                class="fa-solid fa-eye-slash text-base text-darkBlue-300 opacity-60 cursor-pointer"
                (click)="toogleShowHidePassword()"
                [ngClass]="{
                  '!block': showPassword,
                  '!hidden': !showPassword
                }"
              ></i>
            </div>
            <div
              class="mt-2"
              *ngIf="
                password.errors &&
                ((password.invalid && password.dirty) ||
                  (password.invalid && isValidForm != null && !isValidForm))
              "
            >
              <div *ngIf="password.errors['required']">
                <small class="text-xs text-salmon">Password is required</small>
              </div>
              <div *ngIf="password.errors['pattern']">
                <small class="text-xs text-salmon"
                  >Password must have eight characters, at least one uppercase
                  letter, one lowercase letter and one number</small
                >
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-row flex-wrap justify-center items-start">
          <div class="flex flex-col relative m-5 md:w-5/12 w-full">
            <i
              class="fa-solid fa-envelope absolute left-3 top-3 text-salmon"
            ></i>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              formControlName="email"
              class="w-full bg-darkBlue-400 pl-12 rounded-lg focus:ring-2 focus:ring-salmon text-sm outline-none text-white py-1 px-3 !leading-8"
            />
            <div
              class="mt-2"
              *ngIf="
                email.errors &&
                ((email.invalid && email.dirty) ||
                  (email.invalid && isValidForm != null && !isValidForm))
              "
            >
              <div *ngIf="email.errors['required']">
                <small class="text-xs text-salmon">Email is required</small>
              </div>
              <div *ngIf="email.errors['pattern']">
                <small class="text-xs text-salmon"
                  >Email address not well formed</small
                >
              </div>
            </div>
          </div>

          <div class="flex flex-col relative m-5 md:w-5/12 w-full">
            <i
              class="fa-solid fa-unlock-keyhole absolute left-3 top-3 text-salmon"
            ></i>
            <input
              [type]="showPasswordConfirmation ? 'text' : 'password'"
              id="confirm-password"
              name="confirmPassword"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              class="w-full bg-darkBlue-400 px-12 rounded-lg focus:ring-2 focus:ring-salmon text-sm outline-none text-white py-1 !leading-8"
            />

            <div
              *ngIf="this.confirmPassword.value"
              class="absolute z-10 top-0 right-0 p-2 mr-1 rounded-lg bg-darkBlue-400 flex items-center text-sm leading-5"
            >
              <i
                class="fa-solid fa-eye text-base text-darkBlue-300 opacity-60 cursor-pointer"
                (click)="toogleShowHidePasswordConfirmation()"
                [ngClass]="{
                  '!hidden': showPasswordConfirmation,
                  '!block': !showPasswordConfirmation
                }"
              ></i>

              <i
                class="fa-solid fa-eye-slash text-base text-darkBlue-300 opacity-60 cursor-pointer"
                (click)="toogleShowHidePasswordConfirmation()"
                [ngClass]="{
                  '!block': showPasswordConfirmation,
                  '!hidden': !showPasswordConfirmation
                }"
              ></i>
            </div>
            <div
              class="mt-2"
              *ngIf="
                confirmPassword.errors &&
                ((confirmPassword.invalid && confirmPassword.dirty) ||
                  (confirmPassword.invalid &&
                    isValidForm != null &&
                    !isValidForm))
              "
            >
              <div *ngIf="confirmPassword.errors['required']">
                <small class="text-xs text-salmon"
                  >Password confirmation is required</small
                >
              </div>
              <div *ngIf="confirmPassword.errors['mismatch']">
                <small class="text-xs text-salmon">Passwords must match</small>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-row justify-center items-center p-4">
          <button
            type="submit"
            class="flex w-full h-12 justify-center items-center bg-salmon border-0 py-2 px-8 focus:outline-none hover:bg-white group rounded-lg md:text-lg text-base transition-all duration-300 ease-in-out"
          >
            <span
              *ngIf="!spinner"
              class="font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 group-hover:text-salmon transition-all duration-300 ease-in-out"
              >Update</span
            ><app-spinner *ngIf="spinner" class="scale-[0.2]"></app-spinner>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- FAVORITES SECTION -->
<div
  class="flex justify-center md:gap-x-36 gap-x-20 w-full pt-12 lg:text-3xl md:text-xl text-base"
>
  <a
    routerLink="./"
    routerLinkActive="underline decoration-salmon underline-offset-[13px]"
    class="group font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200"
  >
    Favourites
  </a>

  <a
    routerLink="./reviews"
    routerLinkActive="underline decoration-salmon underline-offset-[13px]"
    class="group font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 opacity-50 pointer-events-none"
  >
    Reviews (soon)
    <div
      class="bg-salmon h-0.5 w-0 group-hover:w-full transition-all duration-500 mt-2"
    ></div>
  </a>
</div>

<!-- Nested favourite route -->
<router-outlet></router-outlet>
