<div class="flex justify-center items-center h-screen">
  <div class="relative inline-flex">
    <object
      class="md:w-28 w-16"
      data="assets/icons/logo.svg"
      type="image/svg+xml"
    ></object>
    <object
      class="md:w-28 w-16 absolute top-0 left-0 animate-ping"
      data="assets/icons/logo.svg"
      type="image/svg+xml"
    ></object>
    <object
      class="md:w-28 w-16 absolute top-0 left-0 animate-pulse"
      data="assets/icons/logo.svg"
      type="image/svg+xml"
    ></object>
  </div>
</div>
