
//FAQ section - Box questions animation

.rotate {
  transform: rotate(0);
  transition: .25s transform ease;
}

details {
  overflow: hidden;
}

details:not([open]) {
  max-height: 70px;
  /* transition: 0.5s height ease; */
}

details[open] {
  max-height: 500px;
  transition: 0.5s max-height ease;
}

details[open] > summary {
  color: #ff903c;
}


details[open] > summary > .rotate {
  transform: rotate(180deg);
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}


//Content Section - Scale-up main titles animation
@keyframes scale-up {
	to { scale: 1.5; }
}

.customScrollAnimation {
	view-timeline: --scroll;
}

h2 {
	animation:
		scale-up both ease-in-out;
	animation-timeline: --scroll;
	 animation-range:
   0% 50%;
}


//Content Section - Translate subtitles and paragrafs animation
@keyframes on-left {
	to { transform:translateX(-250%); }
}

@keyframes translate-right {
	to { transform:translateX(0); }
}

@keyframes translate-left {
	to { transform:translateX(0); }
}

@keyframes on-right {
	to { transform:translateX(250%); }
}

.leftToRightScrollAnimation {
	animation-name:
  on-left, translate-right;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: both, both;
	animation-timeline: --scroll;
	 animation-range:
   0% 10%,
   0% 50%;
}

.rightToLeftScrollAnimation{
  animation-name:
 on-right, translate-left;
 animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: both, both;
	animation-timeline: --scroll;
	 animation-range:
   0% 10%,
   0% 50%;
}

@media (max-width: 1024px) {
  .leftToRightScrollAnimation {
     animation-range:
     0% 10%,
     0% 30% !important;
  }
  .rightToLeftScrollAnimation {
     animation-range:
     0% 10%,
     0% 30% !important;
  }
}

//Images onscroll
@keyframes translate-up {
	to { transform:translateY(0); }
}

@keyframes on-down {
	to { transform:translateY(100%); }
}

.downToUpScrollAnimation {
	animation-name:
  on-down, translate-up;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: both, both;
	animation-timeline: --scroll;
	 animation-range:
   0% 10%,
   0% 50%;
}

//Scroll to top
.show-scrollTop {
  opacity: 1;
  scale: 120%;
  transition: all 0.3s ease-in-out;
}
