<section class="text-gray-600 body-font overflow-hidden mt-24 bg-tech2-banner bg-cover bg-center bg-no-repeat w-full h-screen" *ngIf="!skeleton; else showSkeleton">
  <div class="container px-5 py-24  mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="hidden lg:block lg:w-1/3 w-full lg:h-auto h-64 overflow-hidden inline-block rounded-lg">
        <img alt="ecommerce" class="object-cover object-center rounded hover:scale-110 transition transform duration-500" src="{{movieDetails.poster_path | imageUrl}}">
      </div>
      <div class="lg:hidden w-full lg:h-auto h-64 overflow-hidden inline-block rounded-lg">
      <img alt="ecommerce" class=" object-cover object-center rounded hover:scale-110 transition transform duration-500" src="{{movieDetails.backdrop_path | imageUrl}}">
      </div>

      <!-- <div class="flex flex-col justify-center items-center ml-10">
        <div class="w-5 h-5 rounded-full bg-salmon"></div>
        <div class="w-1 md:h-80 h-40 bg-gradient-to-b from-salmon to-darkBlue-500"></div>
      </div> -->

      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-darkBlue-300 tracking-widest mb-4"><span>{{movieDetails.release_date | date: 'yyyy'}}</span> · <span>{{(movieDetails.runtime)}} min</span></h2>
        <h2 class="text-sm title-font text-darkBlue-300 tracking-widest"><span *ngFor="let genre of movieDetails.genres; let last = last">{{genre.name}}<span *ngIf="!last"> · </span></span></h2>
        <h1 class="text-white text-3xl title-font font-bold mb-4 mt-2">{{movieDetails.title}}</h1>
        <div class="flex mb-4">
          <span class="flex items-center text-salmon scale-90">

            <!-- SISTEMA D'ESTRELLES -->

            <div class="flex flex-row">
              <p class="text-white mr-3">{{movieDetails.vote_average | number : '1.0-1'}}</p>
              <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
                <mat-icon *ngIf="i <= movieDetails.vote_average / 2; else emptyStar">star</mat-icon>
                <ng-template #emptyStar><mat-icon>star_border</mat-icon></ng-template>
              </ng-container>
            </div>

            <span class="text-darkBlue-300 ml-3">{{movieDetails.vote_count}} reviews</span>
          </span>
          <span class="flex items-center ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s">
            <a class="text-gray-500">
              <object data="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg" type="image/svg+xml" class="w-10"></object>
            </a>
            <a class="text-gray-500 ml-2">
              <object data="assets/images/logo.svg" type="image/svg+xml" class="w-8"></object>
            </a>
          </span>
        </div>

        <p class="leading-relaxed text-darkBlue-300 mt-14">{{showMore ? movieDetails.overview : movieDetails.overview | descriptionLimit:descriptionMaxLength}}<span *ngIf="!showMore && movieDetails.overview.length > descriptionMaxLength">...</span>
          <a class="cursor-pointer text-salmon text-xs font-bold ml-2" *ngIf="!showMore && movieDetails.overview.length > descriptionMaxLength" (click)="onShow()">Show More</a>
        </p>

        <div class="flex mt-14 items-center justify-between pb-5 border-b-2 border-gray-100 mb-5">
          <button class="flex justify-center p-4 bg-salmon text-black rounded-full w-28">
            <mat-icon class="scale-150 mr-2">play_arrow</mat-icon>
            <p class="text-md font-bold">Play</p>
          </button>

          <div class="flex">
            <button class="rounded-full w-10 h-10 bg-white p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
        </div>

        <div class="flex flex-col">
          <h1 *ngIf="movieDetails.production_companies.length > 0" class="text-sm tracking-widest text-white flex items-center mb-6"><mat-icon class="text-salmon mr-4"> monetization_on</mat-icon><span class="text-darkBlue-300" *ngFor="let production of movieDetails.production_companies; let last = last">{{production.name}}<span *ngIf="!last"> · </span></span></h1>
          <h1 *ngIf="movieDetails.spoken_languages.length > 0" class="text-sm text-white tracking-widest flex items-center"><mat-icon class="text-salmon mr-4">language</mat-icon><span class="text-darkBlue-300" *ngFor="let language of movieDetails.spoken_languages; let last = last">{{language.english_name}}<span *ngIf="!last"> · </span></span></h1>
        </div>

      </div>
    </div>
  </div>


</section>
  <!-- Similar carrousel -->
  <app-movie-carrousel *ngIf="similarMovies && similarMovies.length > 0" [title]="'Similar Movies'" [movies]="similarMovies"></app-movie-carrousel>

<ng-template #showSkeleton><app-movie-details-skeleton></app-movie-details-skeleton></ng-template>

