<div
  class="absolute -z-10 bg-tech-banner-2 bg-cover bg-center bg-no-repeat w-full h-screen"
></div>

<section
  class="w-full h-fit lg:mt-24 mt-36"
  *ngIf="!skeleton; else showSkeleton"
>
  <!-- Go Back Button -->
  <a
    (click)="goBack()"
    class="absolute z-50 cursor-pointer left-12 top-40 md:w-14 md:h-14 w-10 h-10 flex items-center justify-center md:text-sm text-xs lg:hover:-translate-x-2 lg:hover:bg-salmon text-white transition-all duration-500 ease-in-out bg-darkBlue-400 rounded-full border-2 border-darkBlue-400 shadow-md"
  >
    <i class="fa-solid fa-arrow-left md:text-base text-sm"></i>
  </a>

  <!-- DETAILED INFORMATION SECTION -->
  <div class="container lg:py-24 mx-auto">
    <div class="lg:w-4/5 px-6 mx-auto flex flex-wrap">
      <!--  Movie image in large screens -->
      <div
        class="hidden lg:block lg:w-1/3 lg:h-fit w-full h-64 overflow-hidden inline-block rounded-lg group relative"
      >
        <img
          alt="Movie poster image"
          class="object-cover object-center rounded group-hover:scale-110 group-hover:filter group-hover:grayscale transition-all ease-in-out duration-500"
          ngSrc="{{ movieDetails.poster_path | imageUrl : 'w500' }}"
          width="500"
          height="750"
          priority
        />
        <div
          class="hidden group-hover:flex absolute top-0 right-0 left-0 w-full h-full flex-col items-center justify-center"
        >
          <i class="fa-solid fa-video-slash text-5xl text-salmon"></i>
          <p class="text-sm font-bold text-salmon">soon</p>
        </div>
      </div>

      <!--  Movie image in medium and small screens -->
      <div
        class="lg:hidden lg:h-auto w-full overflow-hidden inline-block rounded-lg group relative"
      >
        <img
          alt="Movie backdrop image"
          class="object-cover object-center rounded group-hover:scale-110 group-hover:filter group-hover:grayscale transition-all ease-in-out duration-500"
          ngSrc="{{ movieDetails.backdrop_path | imageUrl : 'w780' }}"
          width="780"
          height="439"
          priority
        />
        <div
          class="hidden group-hover:flex absolute top-0 right-0 left-0 w-full h-full flex-col items-center justify-center"
        >
          <i class="fa-solid fa-video-slash text-4xl text-salmon"></i>
          <p class="text-sm font-bold text-salmon">soon</p>
        </div>
      </div>

      <!-- Movie text content -->
      <div class="lg:w-1/2 w-full lg:pl-10 lg:mt-0 mt-6">
        <!-- date and time items -->
        <h2 class="text-sm text-darkBlue-300 tracking-widest mb-4">
          <span>{{ movieDetails.release_date | date : "yyyy" }}</span> ·
          <span>{{ movieDetails.runtime }} min</span>
        </h2>

        <!-- genres item -->
        <h2 class="text-sm text-darkBlue-300 tracking-widest">
          <span *ngFor="let genre of movieDetails.genres; let last = last"
            ><a
              [routerLink]="['/movies/genres', genre.id]"
              class="text-darkBlue-300 hover:underline hover:underline-offset-8 hover:decoration-salmon hover:text-salmon transition-all duration-200 ease-in-out"
              >{{ genre.name }}</a
            ><span *ngIf="!last"> · </span></span
          >
        </h2>

        <!-- title item -->
        <h1
          class="text-3xl font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 mb-4 mt-2"
        >
          {{ movieDetails.title }}
        </h1>

        <!-- reviews item -->
        <div class="flex mb-4">
          <span class="flex items-center text-salmon scale-90">
            <div class="flex items-center">
              <p class="text-white mr-3">
                {{ movieDetails.vote_average | number : "1.0-1" }}
              </p>
              <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
                <i
                  *ngIf="i <= movieDetails.vote_average / 2; else emptyStar"
                  class="fa-solid fa-star"
                ></i>
                <ng-template #emptyStar
                  ><i class="fa-regular fa-star"></i
                ></ng-template>
              </ng-container>
            </div>

            <span class="text-darkBlue-300 ml-3"
              >{{ movieDetails.vote_count }} reviews</span
            >
          </span>
          <span
            class="flex items-center ml-3 pl-3 py-2 border-l-2 border-darkBlue-300 space-x-2s"
          >
            <object
              data="assets/icons/tmdb.svg"
              type="image/svg+xml"
              class="w-10"
            ></object>

            <object
              data="assets/icons/logo.svg"
              type="image/svg+xml"
              class="w-8 ml-2"
            ></object>
          </span>
        </div>

        <!-- description item -->
        <div class="leading-relaxed text-darkBlue-300 mt-14">
          {{
            showMoreToggle
              ? movieDetails.overview
              : (movieDetails.overview | descriptionLimit : descriptionLimit)
          }}
          <a
            class="cursor-pointer text-xs text-salmon font-bold"
            *ngIf="
              !showMoreToggle && movieDetails.overview.length > descriptionLimit
            "
            (click)="onShow()"
            >...more</a
          >
        </div>

        <!-- favorite system -->
        <div
          class="flex mt-14 items-center justify-start pb-5 border-b-2 border-darkBlue-300 mb-5"
        >
          <div class="flex justify-center items-center">
            <button
              class="rounded-full bg-white flex items-center justify-center w-16 h-16"
              (click)="isFavorite ? removeToFavorite() : addToFavorite()"
            >
              <i
                *ngIf="!spinner"
                class="fa-{{
                  isFavorite ? 'solid' : 'regular'
                }} fa-heart text-2xl text-salmon"
              ></i>
              <app-spinner *ngIf="spinner" class="scale-[0.2]"></app-spinner>
            </button>
          </div>

          <!-- likes system -->
          <div class="flex justify-center items-center ml-3">
            <div
              [ngClass]="{
              'w-14': usersSpinner,
            }"
              class="flex flex-col justify-center items-center"
            >
              <div
                *ngIf="
                  usersNamesFav && usersNamesFav.length > 0 && !usersSpinner
                "
                class="flex flex-col justify-center items-start"
              >
                <p class="text-sm font-bold text-salmon">
                  {{ usersNamesFav.length }}
                  {{ usersNamesFav.length === 1 ? "like" : "likes" }}
                </p>
                <p class="text-xs font-bold text-darkBlue-300">
                  {{ usersNamesFav | countLimit : 2 }}
                </p>
              </div>

              <app-spinner
                spinnerColor="#ff903c"
                *ngIf="usersSpinner"
                class="scale-[0.2]"
              ></app-spinner>
            </div>
          </div>
        </div>

        <!-- Extra information -->
        <div class="flex flex-col">
          <!-- companies -->
          <h1
            *ngIf="movieDetails.production_companies.length > 0"
            class="text-sm tracking-widest mb-6 leading-9"
          >
            <i class="fa-solid fa-sack-dollar text-salmon text-lg mr-4"></i>
            <span
              class="text-darkBlue-300"
              *ngFor="
                let production of movieDetails.production_companies;
                let last = last
              "
              >{{ production.name }}<span *ngIf="!last"> · </span></span
            >
          </h1>

          <!-- languages -->
          <h1
            *ngIf="movieDetails.spoken_languages.length > 0"
            class="text-sm tracking-widest leading-9"
          >
            <i class="fa-solid fa-language text-salmon text-lg mr-4"></i
            ><span
              class="text-darkBlue-300"
              *ngFor="
                let language of movieDetails.spoken_languages;
                let last = last
              "
              >{{ language.english_name }}<span *ngIf="!last"> · </span></span
            >
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SIMILAR MOVIES SECTION  -->
<app-movie-carrousel
  *ngIf="similarMovies && similarMovies.length > 0"
  [title]="'Similar Movies'"
  [movies]="similarMovies"
></app-movie-carrousel>

<!-- SKELETON  -->
<ng-template #showSkeleton
  ><app-movie-detail-skeleton></app-movie-detail-skeleton
></ng-template>
