<div
  class="absolute -z-10 bg-tech-banner-1 bg-cover bg-center bg-no-repeat w-full h-screen"
></div>

<!-- Main title -->
<div class="text-center mx-auto pt-44 px-10 text-white">
  <div
    class="animatecss animatecss-backInDown md:text-3xl text-xl font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200"
  >
    Looking for a particular
    <span
      class="text-salmon md:text-3xl text-xl inline-flex flex-col h-[calc(theme(fontSize.xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] overflow-hidden"
    >
      <ul
        class="block text-left animate-text-slide leading-tight font-strange [&_li]:block"
      >
        <li>Movie</li>
        <li>Show</li>
        <li>Scene</li>
        <li>Actor</li>
        <li>Genre</li>
        <li aria-hidden="true">Movie</li>
      </ul></span
    >?
  </div>

  <!-- SEARCH SECTION -->
  <div class="max-w-md mx-auto mt-14 animatecss animatecss-fadeIn">
    <!-- Search input -->
    <div
      class="flex items-center w-full h-12 bg-darkBlue-400 rounded-2xl shadow-lg overflow-hidden animatecss focus-within:animatecss-rubberBand focus-within:border-2 focus-within:border-darkBlue-300 transition-shadow ease-in-out duration-500 hover:border-darkBlue-300 hover:border-2 hover:shadow-[0_0_118px_0px_rgba(255,255,255,0.4)] focus-within:shadow-[0_0_118px_0px_rgba(255,255,255,0.4)]"
    >
      <div class="grid place-items-center h-full w-12">
        <i class="fa-solid fa-magnifying-glass text-salmon text-lg"></i>
      </div>
      <input
        class="h-full w-full outline-none text-sm text-white pr-2 bg-darkBlue-400"
        type="search"
        id="search"
        placeholder="Search movies..."
        [(ngModel)]="query"
        (input)="subscribeToInputChanges()"
      />
    </div>

    <!-- Supposed query "Did you mean ***?" -->
    <div
      *ngIf="
        results &&
        query.trim().length !== 0 &&
        closestMatchedQuery.length !== 0 &&
        query.toLowerCase() !== closestMatchedQuery.toLowerCase()
      "
      class="mt-6"
    >
      <div class="flex items-center justify-center w-full">
        <i
          class="fa-solid fa-circle-question text-darkBlue-300 text-sm mr-2"
        ></i>
        <span class="text-darkBlue-300 text-xs font-medium"
          >Did you mean
          <a
            (click)="changeInputQuery()"
            class="text-salmon font-bold cursor-pointer hover:underline hover:underline-offset-4 hover:decoration-salmon italic"
            >"{{ closestMatchedQuery }}"</a
          >
          ?</span
        >
      </div>
    </div>
  </div>
</div>

<!-- SEARCH RESULTS SECTION -->
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <!-- Results title and count -->
  <div
    id="searchResultsCount"
    *ngIf="results.length >= 1 && totalResults"
    class="w-full flex justify-center md:mt-20 mt-10"
  >
    <div class="flex justify-center items-center text-darkBlue-300 font-bold">
      <i class="fa-solid fa-magnifying-glass text-base mr-2"></i>
      <p class="text-sm font-bold">SEARCH RESULTS ({{ totalResults }})</p>
    </div>
  </div>

  <!-- Results count fixed on scroll -->
  <div class="w-full flex justify-center items-center">
    <div
      *ngIf="results && totalResults"
      class="w-fit opacity-0 z-50 fixed top-28 cursor-pointer flex justify-center transition-all duration-300 ease-in-out"
      [ngClass]="{ 'show-scrollTop': windowScrolled }"
      (click)="scrollToTop()"
    >
      <a
        class="flex justify-center items-center text-darkBlue-300 font-bold p-4 bg-darkBlue-400 rounded-full"
      >
        <i class="fa-solid fa-magnifying-glass text-sm mr-2"></i>
        <p class="text-sm font-bold">
          {{ results.length }} / {{ totalResults }} results
        </p>
        <i class="fa-solid fa-chevron-up text-sm ml-2"></i>
      </a>
    </div>
  </div>

  <!-- Results list -->
  <app-results-list [results]="results"></app-results-list>

  <app-results-skeleton *ngIf="skeleton"></app-results-skeleton>

  <!-- No results text -->
  <div
    *ngIf="this.results.length === 0 && query.trim().length !== 0"
    class="flex flex-col justify-center items-center py-10 md:text-sm text-xs"
  >
    <div class="flex justify-center items-center">
      <span class="text-darkBlue-300 font-medium"
        >The search for "{{ this.query }}" has no results.</span
      >
      <i class="fa-solid fa-face-frown text-darkBlue-300 text-base ml-2"></i>
    </div>

    <div class="flex flex-col justify-center items-start">
      <p class="text-darkBlue-300 font-medium mt-5">Suggerencies:</p>
      <ul class="ml-10 list-none">
        <li class="text-darkBlue-300 font-medium pl-5 mt-2">
          Try to use different words
        </li>
        <li class="text-darkBlue-300 font-medium pl-5 mt-2">
          Try to change movie title language
        </li>
        <li
          class="flex items-center gap-2 text-darkBlue-300 font-medium pl-5 mt-2"
        >
          More info:
          <a
            class="underline hover:text-salmon"
            href="https://developer.themoviedb.org/reference/search-movie"
          >
            themoviedb.org</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
