input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url('../../../../assets/images/search_cross_icon.svg') no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

//Toast global style
::ng-deep .mat-mdc-snack-bar-container.custom-snackbar {
  --mdc-snackbar-container-color: #1e1e32;
  --mdc-snackbar-container-shape: 14px;

}
