<section
  class="text-white bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-darkBlue-400 to-darkBlue-500"
>
  <!-- Go Back Button -->
  <a
    (click)="goBack()"
    class="absolute cursor-pointer md:left-12 md:top-40 left-10 top-11 md:w-14 md:h-14 w-10 h-10 flex items-center justify-center md:text-sm text-xs text-white transition-all duration-500 ease-in-out bg-darkBlue-400 rounded-full border-[2px] border-darkBlue-400 shadow-md group"
  >
    <i
      class="fa-solid fa-arrow-left md:text-base text-sm text-white lg:group-hover:-translate-x-2 transition-all duration-500 ease-in-out"
    ></i>
  </a>
  <!-- Form -->
  <div class="h-screen w-screen p-5 flex flex-col justify-center items-center">
    <object
      class="md:w-36 w-20 m-4"
      data="assets/icons/logo.svg"
      type="image/svg+xml"
    ></object>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="rounded-lg bg-darkBlue-500 md:py-20 md:px-12 py-10 px-8 shadow-2xl flex flex-col md:w-[580px] w-[280px] md:mt-10 mt-3"
    >
      <p
        class="md:text-3xl text-xl mb-7 font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200"
      >
        Sign up <span class="text-salmon font-strange">Now</span>
      </p>
      <div class="relative mb-4">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          formControlName="name"
          class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 md:text-sm text-xs outline-none text-white py-1 px-3 !leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          class="mt-2"
          *ngIf="
            name.errors &&
            ((name.invalid && name.dirty) ||
              (name.invalid && isValidForm != null && !isValidForm))
          "
        >
          <div *ngIf="name.errors['required']">
            <small class="text-xs text-red-600">Username is required</small>
          </div>
          <div *ngIf="name.errors['minlength']">
            <small class="text-xs text-red-600"
              >Username must be greater than 5 characters</small
            >
          </div>
          <div *ngIf="name.errors['maxlength']">
            <small class="text-xs text-red-600"
              >Username must be lower than 25 characters</small
            >
          </div>
        </div>
      </div>

      <div class="relative mb-4 mt-4">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          formControlName="email"
          class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 md:text-sm text-xs outline-none text-white py-1 px-3 !leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          class="mt-2"
          *ngIf="
            email.errors &&
            ((email.invalid && email.dirty) ||
              (email.invalid && isValidForm != null && !isValidForm))
          "
        >
          <div *ngIf="email.errors['required']">
            <small class="text-xs text-red-600">Email is required</small>
          </div>
          <div *ngIf="email.errors['pattern']">
            <small class="text-xs text-red-600"
              >Email address not well formed</small
            >
          </div>
        </div>
      </div>

      <div class="relative mb-4 mt-4">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 md:text-sm text-xs outline-none text-white py-1 px-3 !leading-8 transition-colors duration-200 ease-in-out"
        />

        <div
          *ngIf="password.value"
          class="absolute top-[7px] right-0 pr-3 flex items-center text-sm leading-5"
        >
          <i
            class="fa-solid fa-eye text-base text-darkBlue-300 opacity-60 cursor-pointer"
            (click)="tooglePassword()"
            [ngClass]="{ '!hidden': showPassword, '!block': !showPassword }"
          ></i>

          <i
            class="fa-solid fa-eye-slash text-base text-darkBlue-300 opacity-60 cursor-pointer"
            (click)="tooglePassword()"
            [ngClass]="{ '!block': showPassword, '!hidden': !showPassword }"
          ></i>
        </div>

        <div
          class="mt-2"
          *ngIf="
            password.errors &&
            ((password.invalid && password.dirty) ||
              (password.invalid && isValidForm != null && !isValidForm))
          "
        >
          <div *ngIf="password.errors['required']">
            <small class="text-xs text-red-600">Password is required</small>
          </div>
          <div *ngIf="password.errors['pattern']">
            <small class="text-xs text-red-600"
              >Password must have eight characters, at least one uppercase
              letter, one lowercase letter and one number</small
            >
          </div>
        </div>
      </div>

      <div class="relative mb-4 mt-4">
        <input
          [type]="showPasswordConfirmation ? 'text' : 'password'"
          id="confirm-password"
          name="confirmPassword"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 md:text-sm text-xs outline-none text-white py-1 px-3 !leading-8 transition-colors duration-200 ease-in-out"
        />

        <div
          *ngIf="this.confirmPassword.value"
          class="absolute top-[7px] right-0 pr-3 flex items-center text-sm leading-5"
        >
          <i
            class="fa-solid fa-eye text-base text-darkBlue-300 opacity-60 cursor-pointer"
            (click)="tooglePasswordConfirmation()"
            [ngClass]="{ '!hidden': showPassword, '!block': !showPassword }"
          ></i>

          <i
            class="fa-solid fa-eye-slash text-base text-darkBlue-300 opacity-60 cursor-pointer"
            (click)="tooglePasswordConfirmation()"
            [ngClass]="{ '!block': showPassword, '!hidden': !showPassword }"
          ></i>
        </div>

        <div
          class="mt-2"
          *ngIf="
            confirmPassword.errors &&
            ((confirmPassword.invalid && confirmPassword.dirty) ||
              (confirmPassword.invalid && isValidForm != null && !isValidForm))
          "
        >
          <div *ngIf="confirmPassword.errors['required']">
            <small class="text-xs text-red-600"
              >Password confirmation is required</small
            >
          </div>
          <div *ngIf="confirmPassword.errors['mismatch']">
            <small class="text-xs text-red-600">Passwords must match</small>
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="flex h-12 justify-center items-center bg-salmon border-0 py-2 px-8 focus:outline-none hover:bg-white group rounded-lg mt-4 md:text-lg text-base"
      >
        <span
          *ngIf="!spinner"
          class="font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 group-hover:text-salmon"
          >Register</span
        ><app-spinner *ngIf="spinner" class="scale-[0.2]"></app-spinner>
      </button>
      <p class="md:text-sm text-xs text-darkBlue-300 mt-6">
        Already have an account?
        <a
          class="text-salmon hover:underline"
          [routerLink]="['/user/login']"
          rel="ugc"
          >Login</a
        >
      </p>
    </form>
  </div>
</section>
