<div class="text-center p-10 border-t-[2px] border-darkBlue-400">
  <div class="flex items-center justify-center w-full">
    <div class="flex items-center mb-5 text-2xl">
      <img src="assets/icons/logo.svg" class="h-8 mr-3" alt="Popcorn Logo" />
      <p class="font-extrabold font-strange leading-9 text-salmon">PopCorn</p>
    </div>
  </div>

  <p class="block text-xs text-center text-darkBlue-300 leading-loose">
    © 2024 PopCorn™. All Rights Reserved. Built with
    <a href="https://angular.io" class="text-salmon hover:underline font-bold"
      >Angular</a
    >
    and
    <a
      href="https://tailwindcss.com"
      class="text-salmon hover:underline font-bold"
      >Tailwind CSS </a
    >.
  </p>

  <p
    class="block text-xs text-center font-bold text-darkBlue-300 font-bold leading-loose mt-2"
  >
    Designed and developed with
    <span class="text-salmon"><i class="fa-solid fa-heart"></i></span> by
    <span class="text-salmon">arnausaboritcode</span>
  </p>

  <ul class="flex justify-center mt-5 space-x-5">
    <li>
      <a
        href="https://www.instagram.com/arnausaborit3/?hl=es"
        class="text-darkBlue-300 hover:text-salmon"
      >
        <i
          class="fa-brands fa-instagram lg:hover:scale-150 transform transition duration-300"
        ></i>
      </a>
    </li>
    <li>
      <a
        href="https://github.com/arnausaboritcode"
        class="text-darkBlue-300 hover:text-salmon"
      >
        <i
          class="fa-brands fa-github lg:hover:scale-150 transform transition duration-300"
        ></i>
      </a>
    </li>
    <li>
      <a
        href="https://es.linkedin.com/in/arnau-saborit-valencia-937269235?trk=public_profile_browsemap"
        class="text-darkBlue-300 hover:text-salmon"
      >
        <i
          class="fa-brands fa-linkedin lg:hover:scale-150 transform transition duration-300"
        ></i>
      </a>
    </li>
  </ul>
</div>
