/* You can add global styles to this file, and also import other style files */

/* Google font */
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scss custom variables */
$primary:rgba(5, 8, 22, 1);
$secondary:#1e1e32;
$tertiary: rgb(156 163 175);
$complementary: #ff903c;

/*Initialized scss styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $primary;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: "Helvetica", sans-serif;
}


