/* You can add global styles to this file, and also import other style files */

/* Google font */
/* @import url('https://fonts.googleapis.com/css2?family=Honk&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scss custom variables */
$primary:#00020f;
$secondary:#1e1e32;
$tertiary:#9CA3AF;
$complementary: #ff903c;

/*Initialized scss styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $primary;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: "Helvetica", sans-serif;
  overflow-x: hidden;
}


