
<section class="text-white bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-darkBlue-400 to-darkBlue-500">
  <div class="bg-darkBlue-500 w-full h-10"></div>
    <div class="h-screen w-screen px-5 flex flex-col justify-center items-center">
      <object class="w-36 m-4" data="assets/images/logo.svg" type="image/svg+xml"></object>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="rounded-lg bg-darkBlue-500 py-20 px-12 shadow-2xl flex flex-col w-[580px] mt-10 ">
      <p class="text-3xl mb-7 font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200">Sign up <span class="text-salmon">Now</span></p>
      <div class="relative mb-4">

        <input type="text" id="username" name="username" placeholder="Username" formControlName="username" class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-sm outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        <div class="mt-2" *ngIf="(registerForm.get('username')?.invalid && registerForm.get('username')?.dirty || registerForm.get('username')?.invalid && submitted)">
          <div *ngIf="registerForm.get('username')?.errors?.['required']">
            <small class="text-xs text-red-600">Username is required</small>
          </div>
        </div>
      </div>
      <div class="relative mb-4 mt-4">

        <input type="email" id="email" name="email" placeholder="Email" formControlName="email" class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-sm outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        <div class="mt-2" *ngIf="(registerForm.get('email')?.invalid && registerForm.get('email')?.dirty || registerForm.get('email')?.invalid && submitted)">
          <div *ngIf="registerForm.get('email')?.errors?.['required']">
            <small class="text-xs text-red-600">Email is required</small>
          </div>
          <div *ngIf="registerForm.get('email')?.errors?.['email']">
            <small class="text-xs text-red-600">Email address not well formed</small>
          </div>
        </div>
      </div>
      <div class="relative mb-4 mt-4">

        <input type="password" id="password" name="password" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" formControlName="password" class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-sm outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        <div class="mt-2" *ngIf="(registerForm.get('password')?.invalid && registerForm.get('password')?.dirty || registerForm.get('password')?.invalid && submitted)">
          <div *ngIf="registerForm.get('password')?.errors?.['required']">
            <small class="text-xs text-red-600">Password is required</small>
          </div>
          <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
            <small class="text-xs text-red-600">Password must have eight characters, at least one uppercase letter, one lowercase letter and one number</small>
          </div>
        </div>
      </div>
      <div class="relative mb-4 mt-4">

        <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" class="w-full bg-darkBlue-400 rounded-lg focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-sm outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        <div class="mt-2" *ngIf="(registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.invalid && submitted)">
          <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
            <small class="text-xs text-red-600">Password confirmation is required</small>
          </div>
          <div *ngIf="registerForm.get('confirmPassword')?.errors?.['mismatch']">
            <small class="text-xs text-red-600">Passwords must match</small>
          </div>
        </div>
      </div>
      <button class="bg-salmon border-0 py-2 px-8 focus:outline-none hover:bg-[rgba(255,255,255,0.9)] group rounded-lg mt-4 text-lg"><span class="font-extrabold leading-9 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 group-hover:text-salmon">Register</span></button>
      <p class="text-sm text-darkBlue-300 mt-6">Already have an account? <a class="text-salmon hover:underline" [routerLink]="['/login']" rel="ugc">Login</a></p>
    </form>
  </div>
</section>
