<!-- BANNER SECTION -->
<div class="w-full h-screen relative">
  <!-- Banner image acting like a background image. I'ts not a bg image because of lazy loading -->
  <img
    *ngIf="movies && movies.length > 0"
    class="object-cover"
    ngSrc="{{ movies[0].backdrop_path | imageUrl : 'original' }}"
    fill="true"
    alt="Random movie backdrop image"
    priority
  />
  <!-- Banner gradients -->
  <div
    class="absolute w-full h-full bg-gradient-to-r from-black via-transparent to-transparent"
  ></div>
  <div
    class="absolute w-full h-full bg-gradient-to-l from-black via-transparent to-transparent"
  ></div>
  <div
    class="absolute w-full h-full bg-gradient-to-t from-black via-transparent to-transparent"
  ></div>
  <!-- Bounced arrow -->
  <a
    class="absolute z-10 w-5 h-5 m-auto left-0 right-0 bottom-16 scale-150 cursor-pointer"
    (click)="scroll(firstContent)"
    ><i
      class="fa-solid fa-chevron-down text-white md:text-base text-sm animate-bounce"
    ></i
  ></a>
  <!-- Scroll to top arrow -->
  <a
    class="fixed opacity-0 z-50 md:w-11 md:h-11 w-9 h-9 right-12 bottom-20 cursor-pointer transition-all duration-500 ease-in-out hover:-translate-y-1 hover:bg-salmon rounded-full bg-darkBlue-400 flex items-center justify-center shadow-md text-white"
    [ngClass]="{ 'show-scrollTop': windowScrolled }"
    (click)="scrollToTop()"
  >
    <i class="fa-solid fa-arrow-up text-xs"></i
  ></a>
  <!-- Banner content -->
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,0%,0.4)] bg-fixed"
  >
    <div class="flex justify-center items-center w-full h-full p-[6dvw]">
      <div class="flex-col text-center lg:w-6/12 md:w-10/12 w-3/4">
        <h1
          class="lg:text-6xl md:text-5xl text-2xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 mb-6"
        >
          Welcome to
          <span class="text-salmon font-strange">PopCorn</span>
        </h1>
        <p
          class="md:text-lg text-sm text-white leading-normal font-bold md:mt-10"
        >
          your new
          <span class="text-salmon font-strange">favourite</span> streaming
          platform
        </p>

        <div class="mt-10">
          <div class="flex-col justify-center">
            <div class="flex justify-center w-full">
              <a
                routerLink="/user/login"
                class="relative inline-flex items-center justify-center px-6 py-3 overflow-hidden font-medium text-white transition duration-300 ease-out rounded-full shadow-md group"
              >
                <span
                  class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-salmon group-hover:translate-x-0 ease"
                >
                  <i class="fa-solid fa-angles-right text-white"></i>
                </span>
                <span
                  class="absolute flex items-center justify-center w-full h-full text-salmon bg-white font-bold transition-all duration-300 transform lg:group-hover:translate-x-full ease"
                  >Get started</span
                >
                <span class="relative invisible">Get started</span>
              </a>
            </div>

            <div class="flex justify-center w-full">
              <object
                class="lg:w-52 md:w-44 w-20 md:mt-20 mt-10"
                data="assets/icons/logo.svg"
                type="image/svg+xml"
              ></object>
            </div>
            <p
              class="md:text-xs text-[8px] text-darkBlue-300 !leading-loose font-medium md:mt-20 mt-10"
            >
              *Content is provided by third-party services. There is a slight
              possibility that some content may not be displayed as expected.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MAIN CONTENT SECTION -->
<!-- Find subsection -->
<div
  class="customScrollAnimation flex flex-col justify-center w-full h-full p-[6dvw] overflow-hidden"
>
  <h2
    #firstContent
    class="w-full h-full lg:text-[16rem] md:text-[9rem] text-center text-[6rem] font-extrabold text-salmon z-10 opacity-30 md:mb-10 mb-4 font-strange"
  >
    Find
  </h2>

  <div
    class="flex lg:flex-row md:flex-col-reverse flex-col-reverse w-full lg:justify-between justify-center items-center"
  >
    <div class="flex lg:w-1/2 w-full justify-start items-center p-4">
      <img
        class="w-full downToUpScrollAnimation"
        ngSrc="assets/images/find.webp"
        width="1000"
        height="500"
        alt="Movie search system representation"
      />
    </div>
    <div class="flex lg:w-1/2 w-full flex-col p-4">
      <h3
        class="rightToLeftScrollAnimation text-salmon font-extrabold leading-relaxed lg:text-6xl md:text-4xl text-2xl"
      >
        Your favourite movie through our servers
      </h3>
      <p
        class="leftToRightScrollAnimation md:text-base text-sm md:mt-10 mt-4 text-white md:!leading-loose leading-7"
      >
        Experience the power of
        <span class="text-salmon font-bold">real-time search </span>on our
        platform. Our advanced search system verifies instantly whether your
        chosen movie is available on our server. Also, if your search term has a
        typo or if you're unsure,
        <span class="text-salmon font-bold"
          >our system suggests alternatives</span
        >
        and presents the movie with the closest match in terms of characters.
      </p>
    </div>
  </div>
</div>

<!-- Fuse subsection -->
<div
  class="customScrollAnimation flex flex-col justify-center w-full h-full p-[6dvw] overflow-hidden"
>
  <h2
    class="w-full h-full lg:text-[16rem] md:text-[9rem] text-center text-[6rem] font-extrabold text-blue-500 opacity-30 md:mb-10 mb-4 font-strange"
  >
    Fuse
  </h2>

  <div
    class="flex flex-wrap w-full lg:justify-between justify-center items-center"
  >
    <div class="flex lg:w-1/2 w-full flex-col p-4">
      <h3
        class="leftToRightScrollAnimation text-blue-500 font-extrabold leading-9 lg:text-6xl md:text-4xl text-2xl"
      >
        Some genres to find your perfect match
      </h3>
      <p
        class="rightToLeftScrollAnimation md:text-base text-sm md:mt-10 mt-4 text-white md:!leading-loose leading-7"
      >
        Discover the freedom to
        <span class="text-blue-500 font-bold"
          >combine multiple genres without limits</span
        >
        to create your unique movie mix. Mingle allows you to
        <span class="text-blue-500 font-bold">explore diverse combinations</span
        >, finding the perfect match that includes all the genres you desire.
        Unlock a world of cinematic possibilities as you curate your
        personalized movie blend, tailoring every viewing experience to your
        individual taste and preferences.
      </p>
    </div>

    <div class="flex lg:w-1/2 w-full justify-start items-center p-4 md:pt-10">
      <img
        class="w-full downToUpScrollAnimation"
        ngSrc="assets/images/fuse.webp"
        width="1000"
        height="500"
        alt="Genre filters system representation"
      />
    </div>
  </div>
</div>

<!-- Scan subsection -->
<div
  class="customScrollAnimation relative flex flex-col justify-center w-full h-full p-[6dvw] !pb-0 overflow-hidden"
>
  <h2
    class="w-full h-full lg:text-[16rem] md:text-[9rem] text-center text-[6rem] font-extrabold text-yellow-500 opacity-30 md:mb-10 mb-4 font-strange"
  >
    Scan
  </h2>

  <div class="flex w-full justify-center items-center">
    <div class="flex lg:w-1/2 w-full flex-col p-4">
      <h3
        class="rightToLeftScrollAnimation text-yellow-500 font-extrabold leading-9 lg:text-6xl md:text-4xl text-2xl"
      >
        All movies by different category lists
      </h3>
      <p
        class="leftToRightScrollAnimation md:text-base text-sm md:mt-10 mt-4 text-white md:!leading-loose leading-7"
      >
        Uncover curated
        <span class="text-yellow-500 font-bold">movie lists</span> designed for
        your enjoyment, accessible through our
        <span class="text-yellow-500 font-bold">intuitive carousels</span>.
        Indulge in each movie experience, knowing that availability can vary.
        Embrace the uncertainty and uncover hidden cinematic gems!
      </p>
    </div>
  </div>
</div>
<div class="w-dvw pb-[6dvw] mt-5">
  <img
    class="w-full downToUpScrollAnimation"
    ngSrc="assets/images/scan.webp"
    width="1920"
    height="600"
    alt="Movie carrousel system representation"
  />
</div>

<!-- View subsection -->
<div
  class="customScrollAnimation flex flex-col justify-center w-full h-full p-[6dvw] overflow-hidden"
>
  <h2
    class="w-full h-full lg:text-[16rem] md:text-[9rem] text-center text-[6rem] font-extrabold text-green-500 z-10 opacity-30 md:mb-10 mb-4 font-strange"
  >
    View
  </h2>

  <div
    class="flex lg:flex-row md:flex-col-reverse flex-col-reverse w-full lg:justify-between justify-center items-center"
  >
    <div class="flex lg:w-1/2 w-full justify-start items-center p-4">
      <img
        class="w-full downToUpScrollAnimation"
        ngSrc="assets/images/view.webp"
        width="1000"
        height="500"
        alt="Movie information system representation"
      />
    </div>
    <div class="flex lg:w-1/2 w-full flex-col p-4">
      <h3
        class="rightToLeftScrollAnimation text-green-500 font-extrabold leading-relaxed lg:text-6xl md:text-4xl text-2xl"
      >
        The most detailed movie information
      </h3>
      <p
        class="leftToRightScrollAnimation md:text-base text-sm md:mt-10 mt-4 text-white md:!leading-loose leading-7"
      >
        Dive into the depths of your favorite movies with
        <span class="text-green-500 font-bold">detailed information</span> at
        your fingertips. Our detailed feature offers you the chance to uncover
        everything about a film, including its
        <span class="text-green-500 font-bold"
          >genres, duration, and much more</span
        >. Immerse yourself in the cinematic world like never before.
      </p>
    </div>
  </div>
</div>

<!-- Mold subsection -->
<div
  class="customScrollAnimation flex flex-col justify-center w-full h-full p-[6dvw] overflow-hidden"
>
  <h2
    class="w-full h-full lg:text-[16rem] md:text-[9rem] text-center text-[6rem] font-extrabold text-red-500 opacity-30 md:mb-10 mb-4 font-strange"
  >
    Mold
  </h2>

  <div
    class="flex flex-wrap w-full lg:justify-between justify-center items-center"
  >
    <div class="flex lg:w-1/2 w-full flex-col p-4">
      <h3
        class="leftToRightScrollAnimation text-red-500 font-extrabold leading-9 lg:text-6xl md:text-4xl text-2xl"
      >
        Your profile to store your favourite movies
      </h3>
      <p
        class="rightToLeftScrollAnimation md:text-base text-sm md:mt-10 mt-4 text-white md:!leading-loose leading-7"
      >
        Manage your favorite movies effortlessly through your
        <span class="text-red-500 font-bold">profile</span>. This feature allows
        you to curate your personalized collection by
        <span class="text-red-500 font-bold">adding and removing movies</span>
        at your convenience. When you discover a movie you love, simply navigate
        to its <span class="text-red-500 font-bold">detail page</span> and click
        the <span class="text-red-500 font-bold">favourite button</span> to
        instantly save it to your profile.
      </p>
    </div>

    <div class="flex lg:w-1/2 w-full justify-start items-center p-4 md:pt-10">
      <img
        class="w-full downToUpScrollAnimation"
        ngSrc="assets/images/mold.webp"
        width="1000"
        height="500"
        alt="Favourite system representation"
      />
    </div>
  </div>
</div>

<!-- COMING SOON SECTION -->
<div
  class="customScrollAnimation flex flex-col justify-center w-full h-full p-[6dvw] overflow-hidden"
>
  <h2
    class="w-full h-full lg:text-[6rem] md:text-[3rem] text-center text-[2rem] font-extrabold text-darkBlue-300 z-10 opacity-30 mb-6 font-strange"
  >
    soon...
  </h2>

  <div
    class="flex flex-wrap w-full lg:justify-between justify-center items-center"
  >
    <div
      class="downToUpScrollAnimation flex justify-center items-center text-center lg:w-1/2 w-full flex-col p-4 opacity-30"
    >
      <img
        class="w-2/12"
        ngSrc="assets/images/media.webp"
        width="200"
        height="200"
        alt="Play system icon"
      />
      <h3
        class="text-darkBlue-300 font-extrabold leading-9 lg:text-3xl md:text-2xl text-md"
      >
        Play media content
      </h3>
    </div>

    <div
      class="downToUpScrollAnimation flex justify-center items-center text-center lg:w-1/2 w-full flex-col p-4 opacity-30"
    >
      <img
        class="w-2/12"
        ngSrc="assets/images/review.webp"
        width="200"
        height="200"
        alt="Review system icon"
      />
      <h3
        class="text-darkBlue-300 font-extrabold leading-9 lg:text-3xl md:text-2xl text-md"
      >
        Reviews system
      </h3>
    </div>
  </div>
</div>

<!-- FAQ SECTION -->
<div
  class="flex flex-col justify-center w-full h-full p-[6dvw] overflow-hidden"
>
  <h1
    class="w-full h-full lg:text-6xl md:text-4xl text-3xl text-center font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 mb-6"
  >
    Frequently Asked Questions
  </h1>

  <div class="flex w-full justify-center flex-col mt-10">
    <details class="flex items-center bg-darkBlue-400 rounded-2xl" name="FAQ">
      <summary
        class="flex justify-between items-center text-white font-bold md:text-base text-sm !leading-9 cursor-pointer p-4"
      >
        What is PopCorn really?
        <i class="fa-solid fa-chevron-down text-salmon rotate"></i>
      </summary>
      <p class="text-white md:text-base text-sm leading-7 p-4">
        PopCorn is a web application that presents itself as an online streaming
        service for movies. However, in its beginnings, PopCorn does not allow
        direct playback of its audiovisual content. Instead, its goal is to
        provide an intuitive interface for presenting, organizing, and filtering
        information regarding cinematographic content in an effective and
        satisfactory manner for users.
      </p>
    </details>

    <details
      class="flex items-center bg-darkBlue-400 rounded-2xl mt-6"
      name="FAQ"
    >
      <summary
        class="flex justify-between items-center text-white font-bold md:text-base text-sm !leading-9 p-4 cursor-pointer"
      >
        It is really a free platform?
        <i class="fa-solid fa-chevron-down text-salmon rotate"></i>
      </summary>
      <p class="text-white md:text-base text-sm leading-7 p-4">
        Initially, PopCorn is presented as a completely free service accessible
        to everyone. However, due to high demand and the presence of numerous
        competitors in the market, the possibility of implementing a monthly
        subscription system will be considered.
      </p>
    </details>

    <details
      class="flex items-center bg-darkBlue-400 rounded-2xl mt-6"
      name="FAQ"
    >
      <summary
        class="flex justify-between items-center text-white font-bold md:text-base text-sm !leading-9 p-4 cursor-pointer"
      >
        Who are the potencial users of PopCorn?
        <i class="fa-solid fa-chevron-down text-salmon rotate"></i>
      </summary>
      <p class="text-white md:text-base text-sm leading-7 p-4">
        PopCorn is an ideal application for users of any level of technological
        skill, age, culture, or gender. Additionally, having a fully adaptable
        interface, it can be satisfactorily represented on any device and size,
        so it does not depend on the type of device the user is using.
      </p>
    </details>
  </div>
</div>

<!-- AVAILABLE DEVICES SECTION -->
<div
  class="flex flex-col justify-center w-full h-full p-[6dvw] overflow-hidden"
>
  <h1
    class="w-full h-full lg:text-6xl md:text-4xl text-3xl text-center font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 mb-6"
  >
    Available on most devices
  </h1>

  <div class="flex w-full justify-center flex-col">
    <ul class="flex flex-wrap items-center lg:justify-between justify-center">
      <li
        class="flex flex-col justify-center items-center text-center md:p-6 p-3 lg:w-1/4 md:w-1/2 w-full"
      >
        <img
          class="w-36"
          ngSrc="assets/images/tvDevice.webp"
          width="500"
          height="500"
          alt="TV device"
        />
        <h1 class="text-darkBlue-300 font-bold md:text-base text-sm">TV</h1>
        <p class="text-darkBlue-300 md:text-sm text-xs italic mt-4">Soon</p>
      </li>
      <li
        class="flex flex-col items-center justify-center text-center md:p-6 p-3 lg:w-1/4 md:w-1/2 w-full"
      >
        <img
          class="w-36"
          ngSrc="assets/images/laptopDevice.webp"
          width="500"
          height="500"
          alt="Laptop device"
        />
        <h1 class="text-white font-bold md:text-base text-sm">Laptop</h1>
        <p class="text-white md:text-sm text-xs mt-4">
          Chrome, Firefox and Safari
        </p>
      </li>
      <li
        class="flex flex-col items-center justify-center text-center md:p-6 p-3 lg:w-1/4 md:w-1/2 w-full"
      >
        <img
          class="w-36"
          ngSrc="assets/images/tabletDevice.webp"
          width="500"
          height="500"
          alt="Tablet device"
        />
        <h1 class="text-white font-bold md:text-base text-sm">
          Tablet / Mobile
        </h1>
        <p class="text-white md:text-sm text-xs mt-4">
          Chrome, Firefox and Safari
        </p>
      </li>
      <li
        class="flex flex-col items-center justify-center text-center md:p-6 p-3 lg:w-1/4 md:w-1/2 w-full"
      >
        <img
          class="w-36"
          ngSrc="assets/images/controllerDevice.webp"
          width="500"
          height="500"
          alt="Controller device"
        />
        <h1 class="text-darkBlue-300 font-bold md:text-base text-sm">
          Console
        </h1>
        <p class="text-darkBlue-300 md:text-sm text-xs italic mt-4">Soon</p>
      </li>
    </ul>
  </div>
</div>
